<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- namespace는 사용하는 DAO의 풀패키지명 -->
  <mapper namespace="com.iu.s1.product.ProductDAO">
  
  <!-- id는 사용하려는 매서드 이름 -->
  <select id="getProductList" resultType="com.iu.s1.product.ProductDTO" >
    SELECT PRODUCTNUM, PRODUCTNAME, PRODUCTJUMSU
  	FROM PRODUCT 
  	ORDER BY PRODUCTNUM DESC
  </select>
  
  <select id="getProductDetail" parameterType="com.iu.s1.product.ProductDTO" resultType="com.iu.s1.product.ProductDTO">
 	SELECT * FROM PRODUCT WHERE PRODUCTNUM=#{productNum}
  </select>
  
  <insert id="setAddProduct" parameterType="com.iu.s1.product.ProductDTO" >
  	INSERT INTO PRODUCT (PRODUCTNUM, PRODUCTNAME, PRODUCTDETAIL, PRODUCTJUMSU) 
  	VALUES (#{productNum}, #{productName}, #{productDetail}, 0.0)
  </insert>
  
  
  </mapper>