<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- namespace는 사용하는 DAO의 풀패키지명 -->
  <mapper namespace="com.iu.s1.product.ProductDAO">
  
  <!-- id는 사용하려는 매서드 이름 -->
  <select id="getProductList" resultType="ProductDTO" >
    SELECT PRODUCTNUM, PRODUCTNAME, PRODUCTSCORE
  	FROM PRODUCT 
  	ORDER BY PRODUCTNUM DESC
  </select>
  
  <select id="getProductDetail" parameterType="ProductDTO" resultType="ProductDTO">
 	SELECT * FROM PRODUCT WHERE PRODUCTNUM=#{productNum}
  </select>
  
  <insert id="setProductAdd" parameterType="ProductDTO" >
  	INSERT INTO PRODUCT (PRODUCTNUM, PRODUCTNAME, PRODUCTDETAIL, PRODUCTSCORE) 
  	VALUES (#{productNum}, #{productName}, #{productDetail}, 0.0)
  </insert>
  
  <delete id="setProductDelete" parameterType="Long">
 	<!-- =#{넘겨주는변수명} -->
  	DELETE PRODUCT WHERE PRODUCTNUM = #{productNum}
  </delete>
  
  <select id="getProductNum" resultType="Long">
 	 SELECT PRODUCTNUM_SEQ.NEXTVAL FROM DUAL
  </select>
  
  </mapper>